body{
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
#top{
    background-color: rgb(255, 0, 0);
    padding: 0vw;
    border-radius: 3vw;
    text-align: center;
    font-size: 8vh;
}
#collectionName{
    font-size: 3vh;
    margin-top: 2vw;
    background-color: rgb(61, 61, 61);
    color: white;
    border: 0;
    border-radius: 1vh;
    outline: none;
    transition: 0.2s ease-out;
    padding: 0.5vh;
}
#collectionName:focus{
    transition:0.2s ease-in;
    padding:1vh;
}
#collectionButton{
    background-color: ;
}